@import url(default-stylesheet.css);

/* | Background Video */
body {
    overflow: hidden;    
}
.darken {
    filter: brightness(50%);
}
#bg-video {
    position: sticky;
    height: 100vh;
    object-fit: cover;
    z-index: -3;
    overflow: hidden;
}

form {
    width: 500px;
    position: fixed;
    top:50%;
    left:50%; 
    transform:translate(-50%, -50%);
    padding: 1em 3em 3em; 
    background-color: #f0ecec;
}
form h4 {
    text-align: center;
    letter-spacing: 3px;
}
form input[type='text'], form input[type='password'] {
    border: solid 1px rgb(193, 193, 193);
    padding: 0.8em 1em;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.0em;
    font-weight: 600;
    color: rgb(129, 129, 129);
}
form label a{
    color: #ffbf49;
    font-weight: 800; 
    text-decoration: none;
}
form input[type='submit']{
    padding: 0.8em 1em;
    width: 100%;
    font-size: 1.0em;
    font-weight: 600;
    background-color: #ffd484;
    color: black;
    cursor: pointer;
}

#start-container {
    width: 300px;
    display: none;
    position: fixed;
    top: 80%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 1em 3em 3em; 
    text-align: center;
    color: white;
}
#start-container h4 {
    margin: 10px;
}
#start-container #account-container {
    display: flex;
    justify-content: center;
    padding: 0.2em 0.5em;
    border: solid 1px white;
    border-radius: 15px;
}




