@import url(default-stylesheet.css);


/* | Background Video */
body {
    animation: lighten 1s;
    overflow: hidden; 
    background-color: black;   
}
#bg-img {
    position: sticky;
    height: 100vh;
    object-fit: cover;
    z-index: -3;
    overflow: hidden;
}
.darken  {
    filter: brightness(20%);
}

/* | Character Selection Title */
#character-selection-title-section {
    width: 100vh;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
#confirm-button {
    width: 200px;
    display: none;
    padding: 0.5em 0.6em;
    border: solid 1px white;
    border-radius: 15px;
    margin: 10px auto 0px;
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    z-index: 2;
    cursor: pointer;
}



/*  | Character Selection Section */
#character-selection-section {
    width: 100%;
    position: fixed;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center
}
#character-selection-section figure {
    width: 580px;
    filter: brightness(70%);
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
}
#character-selection-section figure:hover{
    transform: scale(1.1);
    filter: brightness(100%);
}
#character-selection-section img {
    animation: move-up-down 1.5s linear infinite;
    position: relative;
    height: 580px;
    width: auto;
}
#character-selection-section figcaption {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
}
