* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#character-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 600px;
    height: 150px; 
    position: fixed;
    top: 600px;
    left: 20px;
    background-color: #EEEEEE; 

    .character-button {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: gray;
    };
}

#enemy-container {
    width: 200px;
    height: 300px;
    position: fixed;
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    background-color: gray;
}