@import url(default-stylesheet.css);

/* | Background */
body {
    background-color: black;
}

/* | User Resources */
#user-resources {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#user-resources > div {
    width: 90px;
    height: 25px;
    padding: 0.4em 0.3em 0.4em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);
}
#user-resources img {
    width: 24px;
    aspect-ratio: 1/1;
}
#user-resources > div > p {
    font-size: 0.8rem;
} 

/* Warp Screen */
#warp-screen-container {
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}
#warp-screen-container #warp-banner-picture img {
    height: 600px;
    width: auto;
}
#warp-screen-container #warp-banner-picture #image-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; /* adjust to match actual popup width */
    height: 150px; /* height of gradient */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    border-radius: 12px;
    z-index: 1;
}

#warp-screen-container #warp-container {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 2;  
    display: flex;  
}
#warp-screen-container .warp-button-outer-container {
    width: 240px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 20px;
    background-color: #f8f4f4;    
}
#warp-screen-container .warp-button-inner-container {
    width: 230px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #c9cdcf;
    border-radius: 30px;
    background-color: #f8f4f4;    
    font-weight: bold;
}
#warp-screen-container .warp-button-inner-container figure {
    display: flex;
    align-items: center;
    border-right: dashed 1px #c9cdcf;
    padding-left: 0.5em;
}
#warp-screen-container .warp-button-inner-container figcaption {
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    padding-left: 0.2em;
}
#warp-screen-container .warp-button-inner-container h6 {
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-align: center;
}

#warp-screen-container .warp-button-inner-container img {
    height: 32px;
    aspect-ratio: 1/1;
}

